fastapi
uvicorn
pydantic
pydantic-settings
scikit-learn
numpy
pandas
python-dotenv
xgboost
pytest
httpx
matplotlib
seaborn
wordcloud
python-multipart
googlesearch-python
aiohttp
lightgbm
joblib
psutil
scipy
tldextract
dnspython
chardet
tqdm